<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"   >

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Groups</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="awsm.min.css">
    <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm.min.css">
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm_theme_big-stone.css">
    <!-- CSS for users with dark mode -->
    <link rel="stylesheet" href="awsm_theme_big-stone.min.css" media="(prefers-color-scheme: dark)">
    <!-- CSS for users without dark mode -->
    <link rel="stylesheet" href="awsm_theme_pearl-lusta.min.css"
          media="(prefers-color-scheme: no-preference), (prefers-color-scheme: light)">
    <style>
        .Bd {
            border: solid 1px #145e86;
        }
        
        .P\(0px\) {
            padding: 0px;
        }
        
        .P\(10px\) {
            padding: 10px;
        }
        
        .Pt\(5px\) {
            padding-top: 10px;
        }
        
        .C\(red\) {
            color: red;
        }
        
        .Bdc\(red\) {
            border-color: red !important;
        }
        
        .M\(0\) {
            margin: 0;
        }

    </style>


</head>

<body>
<main>
    <!--/*@thymesVar id="message" type="java.lang.String"*/-->
    <h1 th:if="${message != null}" th:text="${message}"></h1>
    <!--/*thymesVar id="groups" type="java.util.List<com.example.spring.todoapp.model.projection.GroupReadModel>"*/-->
    <dl th:each="group : ${groups}" class="Bd P(10px)">
        <dt>
            <label>
                <input type="checkbox"/>
                <span th:text="${group.description}"></span>
                <small th:text="|(${group.deadline})|"></small>
            </label>
            <hr class="M(0)">
        </dt>
        <dd>
            <a th:href="@{/tasks.html(group=${group.id})}">
                <ul class="P(0px)">
                    <li th:each="task : ${group.tasks}">
                        <span th:unless="${task.done}" th:text="${task.description}"></span>
                        <del th:if="${task.done}" th:text="${task.description}"></del>
                    </li>
                </ul>
            </a>
        </dd>
    </dl>
    <fieldset>
        <legend> New group</legend>
        <!--/*thymesVar id="group" type="com.example.spring.todoapp.model.projection.GroupWriteModel"*/-->
        <form action="#" method="post" th:action="@{/groups}" th:object="${group}">
            <p th:if="${#fields.hasAnyErrors()}" th:errors="*{all}"></p>
            <label>Group description
                <input type="text" th:field="*{description}" th:errorclass="'Bdc(red)'"/>
            </label>
            <fieldset th:each="task,taskStat : *{tasks}">
                <legend th:text="|Task ${taskStat.index + 1}|"></legend>
                <label>Description
                    <input name="description" type="text" th:field="*{tasks[__${taskStat.index}__].description}"
                           th:errorclass="'Bdc(red)'"/>
                </label>
                <label>Deadline
                    <input name="deadline" type="datetime-local" th:field="*{tasks[__${taskStat.index}__].deadline}"
                           th:errorclass="'Bdc(red)'" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}"/>
                </label>

            </fieldset>
            <div class="Pt(5px)">
                <button type="submit" name="addTask">+</button>
            </div>
            <p>
                <button type="submit">Create</button>
                <button type="reset">Clean fields</button>
            </p>
        </form>
    </fieldset>
</main>
</body>

</html>