<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Projects</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="awsm.min.css">
    <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm.min.css">
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm_theme_big-stone.css">
    <!-- CSS for users with dark mode -->
    <link rel="stylesheet" href="awsm_theme_big-stone.min.css" media="(prefers-color-scheme: dark)">
    <!-- CSS for users without dark mode -->
    <link rel="stylesheet" href="awsm_theme_pearl-lusta.min.css"
          media="(prefers-color-scheme: no-preference), (prefers-color-scheme: light)">
    <style>
            .Bd {
                border: solid 1px #145e86;
            }

            .P\(0px\){
                padding: 0px;
            }
            .P\(10px\){
                padding: 10px;
            }

            .Pt\(5px\){
                padding-top: 10px;
            }

            .C\(red\){
                color: red;
            }

            .Bdc\(red\){
                border-color: red !important;
            }

    </style>
</head>
<body>
<main>
    <!--/*@thymesVar id="message" type="java.lang.String"*/-->
    <h1 th:if="${message != null}" th:text="${message}"></h1>
    <!--/*thymesVar id="project" type="com.example.spring.todoapp.model.Project"*/-->
    <dl th:each="project : ${projects}" class="Bd P(10px)">
        <dt th:text="${project.description}">...
        <dd>
            <ul class="P(0px)">
                <li th:each="step : ${project.steps}" th:text="|${step.description} (${step.daysToDeadline}) days|">

                </li>
            </ul>
            <form action="#" method="POST" th:action="@{/projects/{projectId}(projectId=${project.id})}">
                <label>Deadline
                    <input name="deadline" type="datetime-local" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}">
                </label>
                <button type="submit">Create tasks >></button>
            </form>
        </dd>
        </dt>
    </dl>
    <!--/*thymesVar id="project" type="com.example.spring.todoapp.model.projection.ProjectWriteModel"*/-->
    <fieldset>
        <legend> My project</legend>
        <form action="#" method="POST" th:action="@{/projects}" th:object="${project}">
            <p th:if="${#fields.hasAnyErrors()}" th:errors="*{all}"></p>
            <label>Project description
                <input type="text" th:field="*{description}" th:errorclass="'Bdc(red)'"/>
            </label>
            <fieldset th:each="step,stepStat : *{steps}">
                <legend th:text="|Step ${stepStat.index + 1}|"></legend>
                <label>Description
                    <input type="text" th:field="*{steps[__${stepStat.index}__].description}"
                           th:errorclass="'Bdc(red)'">
                </label>
                <label>Days to deadline
                    <input type="number" th:field="*{steps[__${stepStat.index}__].daysToDeadline}"
                           th:errorclass="'Bdc(red)'">
                </label>
            </fieldset>
            <div class="Pt(5px)">
                <button type="submit" name="addStep">+</button>
            </div>
            <p>
                <button type="submit">Create</button>
                <button type="reset">Clean fields</button>
            </p>
        </form>
    </fieldset>
</main>


<script src="" async defer></script>
</body>
</html>